@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 136, 146, 176; /* slate */
  --background-rgb: 10, 25, 47;    /* navy */
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::selection {
  background-color: #233554; /* lightest-navy */
  color: #ccd6f6; /* lightest-slate */
}

/* Scrollbar Styles */
html {
  scrollbar-width: thin;
  scrollbar-color: #495670 #0a192f;
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: #0a192f;
}
::-webkit-scrollbar-thumb {
  background-color: #495670;
  border: 3px solid #0a192f;
  border-radius: 10px;
}

